<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Last Attempt</title>
</head>
<body>

    <h3>Last Attempt</h3>

    <form method="POST" action="/user/captcha" data-th-object="${user}">
        <table>
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" data-th-field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" data-th-field="*{password}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <img class="captcha" data-th-src="${captcha}">
                </td>
            </tr>
            <tr>
                <td>Captcha: </td>
                <td>
                    <input type="text" data-th-field="*{captcha}">
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>

    </form>
    
</body>
</html>